<div class="inv">
    <div class="container-fluid">
        <div [ngStyle]="{'direction' : currentLang === 'en' ? 'ltr' : 'rtl'}" class="investments-content">
            <!-- Left Column -->
            <div [attr.data-aos]="currentLang === 'en' ? 'fade-right' : 'fade-left'" data-aos-duration="1400">
                <img [src]="img1" alt="Sotheby's" class="img-fluid mb-3" />
                <h3 class="tajawal-bold">
                    {{ 'validation.WhyInvestintheUAE' | translate }}
                    @if(currentLang === 'en'){
                    ?
                    }@else{
                    ؟
                    }
                </h3>
                <p class="tajawal-regular">
                    {{ 'validation.WhyInvestDesc' | translate }}
                </p>
            </div>

            <!-- Right Column -->
            <div [attr.data-aos]="currentLang === 'en' ? 'fade-left' : 'fade-right'" data-aos-duration="1400">
                <h3 class="tajawal-bold">{{ 'validation.DiverseInvestmentOpportunities' | translate }}</h3>
                <p class="tajawal-regular">
                    {{ 'validation.DiverseInvestmentOpportunitiesDesc' | translate }}
                </p>
                <img [src]="img2" alt="Mercedes Classic" class="img-fluid mt-3" />
            </div>
        </div>
    </div>
</div>